:root {
  --base-color: #1e58ff;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#root {
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
}
